<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>流水帳管理</title>

    <link href="stylesheet/admin.css" rel="stylesheet" />
    <link href="stylesheet/mainTemplate.css" rel="stylesheet" />

    <script src="script/fontawesome-all.js"></script>
    <script src="script/bootstrap.min.js"></script>
    <script src="script/admin.js"></script>
    
    <style>
        .total-this-month {
            margin-left: 6%;
            font-size: 18px;
            font-weight: bold;
        }

        .accounting-table-div {
            min-width: 400px;
            max-width: 75%;
            min-height: 350px;
        }

        tr > th:first-child {
            width: 50px;
            padding-left: 20px;
        }

        .ucPager-div {
            min-width: 400px;
            max-width: 75%;
            display: flex;
            justify-content: center;
        }

        .ucPager-div>nav {
            margin: 0 auto;
        }
    </style>
</head>

<body class="sb-nav-fixed">

    <!-- navbar -->
    <div th:replace="SystemAdmin/MainTemplate :: navbar(${isManager})"></div>

    <div id="layoutSidenav">

        <!-- sidenav -->
        <div th:replace="SystemAdmin/MainTemplate :: sidenav('', '', 'active', '')"></div>

        <div id="layoutSidenav_content">
            <div class="pageContent">
                <h4>流水帳管理</h4>

                <!-- bread crumb -->
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">流水帳紀錄</a></li>
                        <li class="breadcrumb-item active" aria-current="page">流水帳管理</li>
                    </ol>
                </nav>

                <!-- Add & Delete button -->
                <div>
                    <button type="button" class="btn btn-outline-success">Add</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                    <span class="total-this-month">小記 490 元</span>
                </div>

                <!-- Table -->
                <div class="accounting-table-div">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"><i class="fas fa-trash"></i></th>
                                <th scope="col">建立日期</th>
                                <th scope="col">分類</th>
                                <th scope="col">收/支</th>
                                <th scope="col">金額</th>
                                <th scope="col">標題</th>
                                <th scope="col">Act</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </th>
                                <td>2021/7/5</td>
                                <td>我的分類1</td>
                                <td>收入</td>
                                <td>2000</td>
                                <td>工作收入</td>
                                <td><a href="#">Edit</a></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                    </div>
                                </th>
                                <td>2021/7/5</td>
                                <td>我的分類2</td>
                                <td>支出</td>
                                <td><span class="money-out">(100)</span></td>
                                <td>買便當</td>
                                <td><a href="#">Edit</a></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                    </div>
                                </th>
                                <td>2021/7/5</td>
                                <td>我的分類2</td>
                                <td>支出</td>
                                <td><span class="money-out">(150)</span></td>
                                <td>買晚餐</td>
                                <td><a href="#">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- pagination -->
                <div class="ucPager-div">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="SystemAdmin/MainTemplate :: modals"></div>

</body>

</html>