<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>流水帳分類管理</title>

    <link href="stylesheet/admin.css" rel="stylesheet" />
    <link href="stylesheet/mainTemplate.css" rel="stylesheet" />

    <script src="script/fontawesome-all.js"></script>
    <script src="script/bootstrap.min.js"></script>
    <script src="script/admin.js"></script>
    <script src="script/jquery-3.6.0.min.js"></script>

    <style>
        .category-table-div {
            min-width: 400px;
            max-width: 75%;
            min-height: 350px;
        }

        tr>th:first-child {
            width: 50px;
            padding-left: 20px;
        }

        .ucPager-div {
            min-width: 400px;
            max-width: 75%;
            display: flex;
            justify-content: center;
        }

        .ucPager-div>nav {
            margin: 0 auto;
        }
    </style>
    <script th:inline="javascript">
        var DeleteResultModal;
        var deleteModalShow = /*[[${isDeleteRedirect}]]*/ false;

        $(function () {
            DeleteResultModal = new bootstrap.Modal(document.getElementById('deleteResultModal'), {
                keyboard: false
            });

            // 如果事按刪除紐後重新導向回來，跳顯示結果的modal
            if (deleteModalShow) {
                DeleteResultModal.toggle();
            }

            // 刪除的checkbox事件
            $('tbody th input[type=checkbox]').on('change', function () {
                let count = $('tbody th input[type=checkbox]:checked').length;
                if (count == 0) {
                    $('#btnDelete').prop('disabled', true);
                }
                else {
                    $('#btnDelete').prop('disabled', false);
                    let itemStr = '';
                    let itemStrHidden = '';

                    let i = 1;
                    for (let item of $('tbody th input[type=checkbox]:checked')) {
                        itemStr += $(item).parent().parent().siblings('td').eq(1).text();
                        itemStrHidden += $(item).attr('id').slice(2);

                        if (i++ != count) {
                            itemStr += "、";
                            itemStrHidden += ",";
                        }
                    }
                    $('#deleteModal-items').text(itemStr);
                    $('#deleteItemsHidden').val(itemStrHidden);
                }
            })
        })
    </script>
</head>

<body class="sb-nav-fixed">

    <!-- navbar -->
    <div th:replace="SystemAdmin/MainTemplate :: navbar(${isManager})"></div>

    <div id="layoutSidenav">

        <!-- sidenav -->
        <div th:replace="SystemAdmin/MainTemplate :: sidenav('', '', '', 'active')"></div>

        <div id="layoutSidenav_content">
            <div class="pageContent">
                <h4>流水帳分類管理</h4>

                <!-- bread crumb -->
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">流水帳紀錄</a></li>
                        <li class="breadcrumb-item active" aria-current="page">流水帳分類管理</li>
                    </ol>
                </nav>

                <!-- Add & Delete button -->
                <div>
                    <a th:href="@{/categoryDetail}" role="button" class="btn btn-outline-success">Add</a>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteCheckModal" id="btnDelete" disabled>
                        Delete
                    </button>
                </div>

                <!-- Table -->
                <div class="category-table-div">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"><i class="fas fa-trash"></i></th>
                                <th scope="col">建立日期</th>
                                <th scope="col">分類</th>
                                <th scope="col">流水帳數</th>
                                <th scope="col">Act</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form th:action="@{/deleteCategories}" method="post" id="deleteForm">
                                <tr th:each="category: ${categoryList}" th:object="${category}">
                                    <th scope="row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" th:value="*{categoryID}"
                                            name="delCheckBoxes">
                                        </div>
                                    </th>
                                    <td th:text="*{createDate}"></td>
                                    <td th:text="*{categoryName}"></td>
                                    <td th:text="*{accountingCount}"></td>
                                    <td><a th:href="@{/categoryDetail(CID=*{categoryID})}">Edit</a></td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>

                <!-- pagination -->
                <div th:replace="SystemAdmin/MainTemplate :: pagination(${pagerObj})"></div>

            </div>
        </div>
    </div>

    <!-- Delete Result Modal -->
    <div class="modal fade" id="deleteResultModal" tabindex="-1" aria-labelledby="deleteResultModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" th:object="${errorCountAndMessageDto}">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:#dc3545">共[[*{successCount}]]個成功，[[*{failedCount}]]個失敗</h5>
                </div>
                <div class="modal-body">
                    <p th:each="msg: *{errMessages}" th:text="${msg}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">確定</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="SystemAdmin/MainTemplate :: deleteCheckModal('deleteForm')"></div>

    <div th:replace="SystemAdmin/MainTemplate :: logoutModal"></div>

</body>

</html>