<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>個人資訊</title>

    <link href="stylesheet/admin.css" rel="stylesheet" />
    <link href="stylesheet/mainTemplate.css" rel="stylesheet" />

    <script src="script/fontawesome-all.js"></script>
    <script src="script/bootstrap.min.js"></script>
    <script src="script/admin.js"></script>

    <style>
        .input-table-div {
            min-width: 300px;
            max-width: 380px;
        }

        tr {
            border-width: 1px;
        }

        th {
            width: 60px;
            text-align: center;
            padding-top: 14px !important;
        }

        td>input {
            max-width: 280px;
        }
    </style>
</head>

<body class="sb-nav-fixed">

    <div th:replace="SystemAdmin/MainTemplate :: navbar(${isManager})"></div>

    <div id="layoutSidenav">

        <div th:replace="SystemAdmin/MainTemplate :: sidenav('', 'active', '', '')"></div>

        <div id="layoutSidenav_content">
            <div class="pageContent">
                <h4>個人資訊</h4>

                <!-- bread crumb -->
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">後台管理</li>
                        <li class="breadcrumb-item active" aria-current="page">個人資訊</li>
                    </ol>
                </nav>

                <!-- Input -->
                <div class="input-table-div">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">帳號</th>
                                <td><input type="text" class="form-control" id="account" name="account"></td>
                            </tr>
                            <tr>
                                <th scope="row">姓名</th>
                                <td><input type="text" class="form-control" id="name" name="name"></td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td><input type="text" class="form-control" id="email" name="email"></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-outline-primary" id="btnSave">存檔</button>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="SystemAdmin/MainTemplate :: modals"></div>

</body>

</html>