<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>會員管理</title>

    <link href="stylesheet/admin.css" rel="stylesheet" />
    <link href="stylesheet/mainTemplate.css" rel="stylesheet" />

    <script src="script/fontawesome-all.js"></script>
    <script src="script/bootstrap.min.js"></script>
    <script src="script/admin.js"></script>
    
    <style>
        .user-edit-div {
            max-width: 350px;
        }

        .user-edit-div label {
            width: 90px;
            text-align: right;
        }

        .readonly-content {
            padding-top: calc(0.375rem + 1px);
            padding-bottom: calc(0.375rem + 1px);
        }

        #btnSave {
            margin-left: 20px;
            margin-right: 8px;
        }
    </style>
</head>

<body class="sb-nav-fixed">

    <!-- navbar -->
    <div th:replace="SystemAdmin/MainTemplate :: navbar(${isManager})"></div>

    <div id="layoutSidenav">

        <!-- sidenav -->
        <div th:replace="SystemAdmin/MainTemplate :: sidenav('active', '', '', '')"></div>

        <div id="layoutSidenav_content">
            <div class="pageContent">
                <h4>會員管理</h4>

                <!-- bread crumb -->
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">管理者後台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">會員管理</li>
                    </ol>
                </nav>

                <!-- Input -->
                <div class="user-edit-div">
                    <div class="mb-3 row">
                        <label for="account" class="col-form-label">帳號</label>
                        <div class="col-auto readonly-content">
                            Moudou
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="name" class="col-form-label">姓名</label>
                        <div class="col-auto">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="email" class="col-form-label">Email</label>
                        <div class="col-auto">
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="level" class="col-form-label">等級</label>
                        <div class="col-auto pt-1">
                            <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                                <option valur="general" selected>一般會員</option>
                                <option value="manager">管理者</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="amount" class="col-form-label">建立時間</label>
                        <div class="col-auto readonly-content">
                            2021/7/2 03:04:05
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="caption" class="col-form-label">修改時間</label>
                        <div class="col-auto readonly-content">
                            2021/7/3 10:15:05
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-outline-danger" id="btnDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="SystemAdmin/MainTemplate :: logoutModal"></div>
    
</body>

</html>