<!DOCTYPE html>
<html lang="en">

<head th:replace="SystemAdmin/MainTemplate :: common_header(~{::title}, ~{}, ~{::head/script}, ~{::head/style})">
    
    <title>個人資訊</title>

    <style>
        .input-table-div {
            min-width: 300px;
            max-width: 380px;
        }

        tr {
            border-width: 1px;
        }

        th {
            width: 60px;
            text-align: center;
        }

        td>input {
            max-width: 280px;
        }
    </style>

    <script th:inline="javascript">
        var SuccessModal;
        var SuccessModalShow = /*[[${isSuccessModalShow}]]*/ false;

        $(function () {
            SuccessModal = new bootstrap.Modal(document.getElementById('successModal'), {
                keyboard: false
            });

            // 如果事按刪除紐後重新導向回來，跳顯示結果的modal
            if(SuccessModalShow){
                SuccessModal.toggle();
            }

        })
    </script>
</head>

<body class="sb-nav-fixed">

    <div th:replace="SystemAdmin/MainTemplate :: navbar(${isManager})"></div>

    <div id="layoutSidenav">

        <div th:replace="SystemAdmin/MainTemplate :: sidenav('', 'active', '', '')"></div>

        <div id="layoutSidenav_content">
            <div class="pageContent">
                <h4>個人資訊</h4>

                <!-- bread crumb -->
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">後台管理</li>
                        <li class="breadcrumb-item active" aria-current="page">個人資訊</li>
                    </ol>
                </nav>

                <!-- Input -->
                <div class="input-table-div">
                    <form th:action="@{/editUserProfile}" method="post" th:object="${userProfileDto}">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row"><label for="account" class="col-form-label">帳號</label></th>
                                    <td><input type="text" class="form-control" id="account" th:value="*{account}" readonly></td>
                                </tr>
                                <tr>
                                    <th scope="row"><label for="name" class="col-form-label">姓名</label></th>
                                    <td>
                                        <input type="text" class="form-control" th:field="*{name}">
                                        <div class="err-msg" th:each="error: ${#fields.errors('name')}" th:text="${error}"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><label for="email" class="col-form-label">Email</label></th>
                                    <td>
                                        <input type="text" class="form-control" th:field="*{email}">
                                        <div class="err-msg" th:each="error: ${#fields.errors('email')}" th:text="${error}"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="hidden" th:field="*{userId}" />
                        <button type="submit" class="btn btn-outline-primary" id="btnSave">存檔</button>
                        <div class="err-msg-btn" th:if="${databaseAddError != null}" th:text="${databaseAddError}"></div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="SystemAdmin/MainTemplate :: logoutModal"></div>

    <div th:replace="SystemAdmin/MainTemplate :: successModal(${successType})"></div>
    
</body>

</html>